aiofiles==24.1.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.8.0
appdirs==1.4.4
arrow==1.3.0
asttokens==3.0.0
attrs==25.1.0
Automat==20.2.0
Babel==2.8.0
bcrypt==3.2.0
binaryornot==0.4.4
blinker==1.4
blosc2==2.7.1
build==1.2.2.post1
cachetools==5.5.1
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
click-default-group==1.2.4
cloud-init==24.3.1
colorama==0.4.4
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
contourpy==1.3.1
cookiecutter==2.6.0
cryptography==3.4.8
cycler==0.12.1
db-dtypes==1.4.1
dbus-python==1.2.18
decorator==5.1.1
deltalake==0.24.0
distro==1.7.0
distro-info==1.1+ubuntu0.2
dynaconf==3.2.7
et_xmlfile==2.0.0
exceptiongroup==1.2.2
executing==2.2.0
Faker==35.2.0
fastapi==0.115.8
fonttools==4.55.0
fsspec==2025.2.0
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.24.1
google-auth==2.38.0
google-auth-oauthlib==1.2.1
google-cloud-bigquery==3.29.0
google-cloud-core==2.4.1
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
graphql-core==3.2.6
greenlet==3.1.1
grpcio==1.70.0
grpcio-status==1.70.0
h11==0.14.0
httplib2==0.20.2
httptools==0.6.4
hyperlink==21.0.0
idna==3.10
importlib_metadata==8.6.1
importlib_resources==6.5.2
incremental==21.3.0
ipython==8.32.0
jedi==0.19.2
jeepney==0.7.1
Jinja2==3.1.5
joblib==1.4.2
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
kedro==0.19.11
kedro-datasets==6.0.0
kedro-telemetry==0.6.2
kedro-viz==10.2.0
keyring==23.5.0
kiwisolver==1.4.7
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.4
lxml==4.9.4
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
more-itertools==10.6.0
msgpack==1.1.0
narwhals==1.25.2
ndindex==1.9.2
netifaces==0.11.0
networkx==3.4.2
numexpr==2.10.2
numpy==2.2.2
oauthlib==3.2.0
omegaconf==2.3.0
openpyxl==3.1.5
orjson==3.10.15
packaging==24.2
pandas==2.2.3
pandas-gbq==0.27.0
parse==1.20.2
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==11.0.0
platformdirs==4.3.6
plotly==6.0.0
pluggy==1.5.0
pre_commit_hooks==5.0.0
prompt_toolkit==3.0.50
proto-plus==1.26.0
protobuf==5.29.3
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyarrow==19.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycurl==7.44.1
pydantic==2.10.6
pydantic_core==2.27.2
pydata-google-auth==1.9.1
Pygments==2.19.1
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.3.0
pyodbc==5.2.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyproject_hooks==1.2.0
pyrsistent==0.18.1
pyserial==3.5
pyspark==3.5.4
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-slugify==8.0.4
pytoolconfig==1.3.1
pytz==2025.1
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.9.4
rope==1.13.0
rsa==4.9
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
scikit-learn==1.5.2
scipy==1.14.1
SecretStorage==3.3.1
secure==1.0.1
service-identity==18.1.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
SQLAlchemy==2.0.38
stack-data==0.6.3
starlette==0.45.3
strawberry-graphql==0.258.0
systemd-python==234
tables==3.10.1
text-unidecode==1.3
threadpoolctl==3.5.0
toml==0.10.2
tomli==2.2.1
traitlets==5.14.3
Twisted==22.1.0
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
tzdata==2025.1
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.3.0
uvicorn==0.34.0
uvloop==0.21.0
wadllib==1.3.6
watchfiles==1.0.4
wcwidth==0.2.13
websockets==14.2
zipp==3.21.0
zope.interface==5.4.0
